/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border-top-width:1px;
	border: solid green;
}

#red{
	background-color: red;
	border-top-width:1px;
	border: solid black;
}

#green{
	background-color: green;
	border-top-width:1px;
	border: solid yellow;
}